<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Search Merriam Webster</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-searchbar [(ngModel)]="searchQuery" [debounce]="50" (search)="search($event)" autocorrect="on" animated></ion-searchbar>
    <ion-card *ngIf="definitions_one.length > 0">
      <ion-card-header>
        <ion-card-title>{{ searchTerm }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      <i>1. {{ desc_definitions_one}}</i>
      <ul>
        <li *ngFor="let definition of definitions_one; let i = index">{{definition}}</li>
      </ul>
    </ion-card-content>
    <ion-card-content>
      <i *ngIf="desc_definitions_two.length > 1">2. {{ desc_definitions_two}}</i>
      <ul *ngIf="desc_definitions_two.length > 1">
        <li *ngFor="let definition of definitions_two; let i = index">{{definition}}</li>
      </ul>
    </ion-card-content>
    <ion-card-content>
      <i *ngIf="desc_definitions_three.length > 1">3. {{ desc_definitions_three}}</i>
      <ul *ngIf="desc_definitions_three.length > 1">
        <li *ngFor="let definition of definitions_three; let i = index">{{definition}}</li>
      </ul>
    </ion-card-content>
    </ion-card>
    <ion-button expand="full" (click)="saveWord()" *ngIf="definitions_one.length > 0 && added === false">Add to my dictionary</ion-button> 
    <h6 *ngIf="added === true" id="added-text">Added to your dictionary</h6> 
  </ion-content>
</div>

